<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/log-in.css">
    <script src="../js/log-in.js" defer></script>
    <title>Log In MegaRocket S.A</title>
  </head>
  <body>
    <div class="img-login-container flex-container">
      <a href="../views/index.html">
        <img class="arrow-img" src="../../assets/img/arrow.png" alt="arrow image back to index">
      </a>
      <img class="rr-logo-words" src="../../assets/img/logo-rr-words.png" alt="radium rocket text image">
    </div>
    <main class="main-login flex-container">
      <img class="main-login-img" src="../../assets/img/logo-rr-login.png" alt=" rocket radium">
      <form class="login-form flex-container">
        <label class="user-title blue-txt" for="user">
          User
        </label>
        <input id="user" class="login-input" type="text" placeholder="Put your email" required>
        <p class="error input-p-login"></p>
        <label class="user-title blue-txt" for="password">
          Password
        </label>
        <input id="password" class="login-input" type="password" placeholder="Put your password" required>
        <p class="error input-p-login"></p>
        <div class="signed-forgot-container flex-container">
          <label class="keep-signed flex-container" for="checkbox">
            <input id="checkbox" type="checkbox">
            Keep me Logged in
          </label>
          <a href="#">Forgot password?</a>
        </div>
        <div class="link-to-signup-container bold">
          <p>New here?</p>
          <a href="./sign-up.html">Sign up</a>
        </div>
        <input class="login-btn bold blue-txt" type="submit" value="Login">
      </form>
      <div class="modal-login-container">
        <div class="modal-login-header">
          <p class="modal-header-p bold"></p>
          <img class="cross-img" src="../../assets/img/cross-img.png" alt="exit image">
        </div>
        <div class="modal-login-main">
          <p class="modal-main-p-one blue-txt bold"></p>
          <p class="modal-main-p-two blue-txt bold"></p>
        </div>
        <div class="modal-login-footer">
          <input class="modal-footer-btn bold blue-txt" type="button" value="Continue">
        </div>
      </div>
      <div class="modal-login-container-error">
        <div class="modal-login-header-error">
          <p class="modal-header-p-error bold"></p>
        </div>
        <div class="modal-login-main-error">
          <p class="modal-main-p-error blue bold"></p>
        </div>
        <div class="modal-login-footer-error">
          <input class="modal-footer-btn-error bold" type="button" value="Accept">
        </div>
      </div>
    </main>
  </body>
</html>