body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 80%;
  height: 135px;
  position: absolute;
  right: 0px;
  background-color: #373867;
}

header img {
  position: relative;
  top: 45px;
  left: 50px;
}

header h1 {
  display: inline-block;
  position: absolute;
  left: 310px;
  top: 38px;
  width: 485px;
  height: 45px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  text-transform: uppercase;
  color: #AACE9B;
}

aside {
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: #AACE9B;
  text-align: center;
}

.rr-logo {
  position: relative;
  width: 95px;
  height: 140px;
  padding: 20px;
}

.nav-list li {
  position: relative;
  margin: 25px 45px;
  width: 69.5%;
  height: 60px;
  background-color: #EBECF0;
  border-radius: 5px;
  border: 2px solid #373867;
  
}

.nav-list li:first-child {
  background-color: #373867;
}

.nav-list li a {
  position: relative;
  top: 20px;
  font-size: 20px;
  text-decoration: none;
  color: #373867;
  text-transform: uppercase;
  font-weight: 600;
}

.nav-list li:first-child a {
  color: #EBECF0;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
}

aside h2 {
  padding-bottom: 10px;
  font-size: 25px;
  color: #373867;
  text-transform: uppercase;
}

.other-op-list {
  padding: 0 0 0 40px;
  text-align: left;
}

.other-op-list li {
  padding: 6px;
}

.other-op-list li a {
  color: #373867;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.aside-info-list {
  padding: 10px 40px;
  text-align: left;

}

.aside-info-list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #373867;
}

main {
  position: absolute;
  top: 135px;
  width: 80%;
  right: 0px;
}

#main-reason {
  margin: 40px;
  position: relative;
}

#main-reason div {
  position: absolute;
  width: 40%;
  display: inline-block;
}

#main-reason div h2 {
  padding-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  color: #373867;
}

#main-reason div p {
  font-size: 18px;
  font-weight: 600;
  color: #373867;
}

#main-reason img {
  position: relative;
  left: 450px;
  width: 60%;
}

.separation-line {
  margin: 0 40px;
  background-color: #373867;
  height: 5px;
}
