body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 80%;
  margin-left: 20%;
  background-color: #373867;
}

header img {
  margin: 45px 50px;
}

header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 45px 0;
  width: 485px;
  height: 45px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: #AACE9B;
}

aside {
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #AACE9B;
  text-align: center;
}

.rr-logo {
  width: 95px;
  height: 140px;
  padding: 20px;
}

.nav-list li {
  margin: 35px 45px;
  width: 69.5%;
  height: 60px;
  background-color: #EBECF0;
  border-radius: 5px;
  border: 2px solid #373867;
}

.nav-list li:first-child {
  background-color: #373867;
}

.nav-list li a {
  line-height: 63px;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #373867;
}

.nav-list li:first-child a {
  color: #EBECF0;
}

h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

aside h2 {
  padding: 10px;
  font-size: 25px;
  color: #373867;
}

.other-op-list {
  padding-left: 40px;
  text-align: left;
}

.other-op-list li {
  padding: 10px 6px;
}

.other-op-list li a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #373867;
}

.aside-info-list {
  padding: 20px 40px;
  text-align: left;
}

.aside-info-list li {
  padding: 5px 0;
}

.aside-info-list li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #373867;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.aside-info-list li a img {
  position: relative;
  top: 6px;
}

main, footer {
  margin-left: 20%;
}

section {
  position: relative;
  margin: 40px;
}

#main-reason div {
  display: inline-block;
  vertical-align: top;
  width: 40%;
}

#main-reason div h2 {
  padding-bottom: 20px;
  font-size: 25px;
  color: #373867;
}

#main-reason div p {
  font-size: 18px;
  font-weight: 600;
  color: #373867;
}

#main-reason img {
  width: 58%;
}

.separation-line {
  margin: 0 40px;
  height: 5px;
  background-color: #373867;
}

#help-id {
  width: 1142px;
  height: 903px;
  text-align: center;
}

#help-id h2 {
  line-height: 235px;
  color: #EBECF0;
}

#help-id img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.help-list {
  width: 1142px;
}

.help-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 33px 96px 95px 96px;
  height: 107px;
  width: 351px;
  background-color: #EBECF0;
  border-radius: 5px;
  border: 2px solid #373867;
}

.help-list li p {
  margin: 39px 0;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  color: #373867;
}

.help-list li:nth-child(2) p, .help-list li:nth-child(4) p {
  margin: 24px 0;
}

.contact-title {
  height: 100px;
}

.contact-title h2 {
  display: inline-block;
  vertical-align: top;
  color: #373867;
}

.contact-title img {
  display: inline-block;
  margin-top: -11px;
}

.user-data {
  display: block;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #373867;
}

.user-data input {
  width: 293px;
  height: 45px;
  margin-left: 60px;
  padding: 0 20px;
  border: 2px solid #373867;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
}

.user-data:nth-child(1) input, .user-data:nth-child(3) input {
  margin-left: 107px;
}

.contact-form h3 {
  margin: 40px 0 20px 0;
  font-size: 30px;
  font-weight: 700;
  color: #373867;
}
 
.reason-for-contact {
  display: block;
  margin: 8px 0;
  font-size: 30px;
  font-weight: 700;
  color: #373867;
}

input[type="radio"] {
  accent-color: #34636E;
}

.message {
  display: block;
  margin: 50px 0 15px 0;
  font-size: 30px;
  font-weight: 700;
  color: #373867;
}

.contact-form textarea {
  display: block;
  padding: 5px 15px;
  border: 2px solid #E0E0E0;
  border-radius: 4px;
  font-size: 16px;
}

input[type=submit] {
  width: 178px;
  height: 47px;
  margin: 20px 50px 0 0;
  background-color: #AACE9B;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #373867;
}

input[type=reset] {
  width: 111px;
  height: 46px;
  margin-top: 20px;
  border: 1.5px solid #373867;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #373867;
}

#history-id {
  height: 865px;
  width: 1142px;
}

#history-id h2 {
  color: #373867;
}

#history-id img {
  position: absolute;
  left: 0px;
  top: 70px;
  width: 1135px;
  z-index: -1;
}

#history-id p {
  margin: 300px 145px;
  width: 804px;
  font-size: 30px;
  font-weight: 700;
  text-align: justify;
  line-height: 35px;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  color: #FFFFFF;
}

#act-mem-id {
  width: 93.5%;
}

#act-mem-id div {
  display: inline-block;
  padding: 0 40px;
  width: 40%;
}

#act-mem-id h2 {
  padding-bottom: 20px;
}

.activities-container {
  color: #373867;
}

.activities-list {
  font-size: 30px;
  font-weight: 700;
}

.activities-list li {
  padding: 13px 0;
}

.activities-list li img {
  width: 117px;
  height: 110px;
}

.activities-list li p {
  display: inline-block;
  height: 110px;
  vertical-align: middle;
  margin-left: 50px;
}

.memberships-container {
  vertical-align: top;
  margin-left: 20px;
}

.memberships-list {
  margin: -18px 0 0 74px;
}

.memberships-list li h3 {
  font-size: 30px;
  font-weight: 700;
}

.memberships-list li img {
  position: relative;
  top: 74px;
  right: 64px;
}

.membership-list-info {
margin-bottom: 100px;
}

.membership-items {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  list-style-type: "-";
}

footer {
  height: 132px;
  width: 80%;
  background-color: #373867;
}

footer small {
  display: inline-block;
  margin: 62px 0 0 75px;
  vertical-align: top;
  font-weight: 600;
}

footer ul {
  margin: 35px 10px 0 0;
  float: right;
}

footer ul li {
  display: inline-block;
}

footer ul li a img {
  margin-right: 10px;
}