<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <script src="../js/sign-up.js" defer></script>
    <title>Sign Up MegaRocket S.A</title>
  </head>
  <body>
    <main class="main-signup flex-container">
      <a class="arrow-a" target="_self" href="../views/index.html">
        <img class="arrow-img" src="../../assets/img/arrow.png" alt="arrow image back to index">
      </a>
      <img class="rr-logo-signup" src="../../assets/img/logo-rr-login.png" alt="rocket radium">
      <form class="signup-form flex-container">
        <div class="input-container">
          <label class="user-data blue-txt" for="name">
            First name
          </label>
          <input id="name" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="lastname">
            Last name
          </label>
          <input id="lastname" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="id">
            ID
          </label>
          <input id="id" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="birthdate">
            Birth date
          </label>
          <input id="birthdate" class="user-data-input" type="date">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="phone">
            Phone number
          </label>
          <input id="phone" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="address">
            Address
          </label>
          <input id="address" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="city">
            City
          </label>
          <input id="city" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="zipcode">
            Zip code
          </label>
          <input id="zipcode" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="email">
            Email
          </label>
          <input id="email" class="user-data-input" type="text">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="password">
            Password
          </label>
          <input id="password" class="user-data-input" type="password">
          <p class="error input-p"></p>
        </div>
        <div class="input-container">
          <label class="user-data blue-txt" for="r-password">
            Repeat password
          </label>
          <input id="r-password" class="user-data-input" type="password">
          <p class="error input-p"></p>
        </div>
        <div class="terms-conditions-container">
          <label for="checkbox">
            <p>
              Accept terms and conditions?
            </p>
          </label>
          <input id="checkbox" type="checkbox">
        </div>
        <div class="link-to-login-container bold">
          <p>Already have an account?</p>
          <a href="./log-in.html">Log in</a>
        </div>
        <input class="signup-btn bold blue-txt" type="submit" value="Register">
      </form>
    </main>
    <div class="img-signup-container flex-container">
      <img class="rr-logo-words" src="../../assets/img/logo-rr-words.png" alt="radium rocket text image">
    </div>
  </body>
</html>