.img-login-container {
  align-items: center;
  background-image: none;
  padding: 1rem;
}

.arrow-img {
  width: 1.5rem;
}

.rr-logo-words {
  display: none;
}

.main-login {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.main-login img {
  width: 15rem;
}

.login-form {
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.user-title {
  margin: 1rem 0;
  font-weight: 600;
}

.login-input {
  width: 90%;
  max-width: 25rem;
  padding: 0.6rem 0.75rem;
  border: 2px solid #373867;
  border-radius: 0.3rem;
}

.error {
  display: none;
}

.red-text {
  font-size: 0.7rem;
  color: red;
}

.red-border {
  border: 1px solid red;
}

.signed-forgot-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 17rem;
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.keep-signed {
  align-items: center;
  font-weight: 700;
}

.link-to-signup-container {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 50%;
  max-width: 11rem;
  margin: 1.5rem;
}

.login-btn {
  align-self: center;
  width: 10rem;
  height: 3.5rem;
  background-color: rgba(54, 54, 54, 0.26);
  border: 2px solid #373867;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.modal-login-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 100%;
  height: 12rem;
  background-color: #AACE9B;
  border: 2px solid #373867;
  border-radius: 8px 8px 0 0;
}

.modal-login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
}

.modal-header-p {
  margin-left: 0.5rem;
  color: #AACE9B;
}

.modal-login-main, .modal-login-main-error {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  flex-direction: column;
}

.modal-main-p-one, .modal-main-p-two, .modal-main-p-error {
  margin: 0.5rem;
}

.modal-login-footer, .modal-login-footer-error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.modal-footer-btn {
  background-color: #AACE9B;
  width: 5rem;
  height: 1.5rem;
  border: none;
  border-bottom: 2px solid black;
}

.modal-login-container-error {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 10rem;
  background-color: rgb(255, 225, 225);
  border: 2px solid black;
  border-radius: 8px 8px 0 0;
}

.modal-login-header-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: rgb(211, 76, 76);
}

.modal-header-p-error {
  margin-left: 0.5rem;
  color: black;
}

.modal-footer-btn-error {
  background-color: rgb(255, 225, 225);
  width: 5rem;
  height: 1.5rem;
  border: none;
  border-bottom: 2px solid black;
}

.modal-d-block {
  display: block;
}

@media screen and (min-width: 480px) {
  body {
    flex-wrap: nowrap;
    height: 100vh;
  }
  
  .img-login-container {
    padding: 1.5rem;
  }
  
  .arrow-img {
    width: 2.5rem;
  }

  .main-login {
    justify-content: space-evenly;
    height: 80%;
    padding: 0 2rem;
  }

  .main-login img {
    width: 18rem;
  }

  .modal-login-container, .modal-login-container-error {
    top: 0;
    border-radius: 0 0 8px 8px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }
  
  .img-login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    width: 50%;
    padding: 2rem;
    background-image: url(../../assets/img/image-running.png);
    background-position: center;
    background-size: cover;
  }

  .arrow-img {
    width: 3.5rem;
  }

  .rr-logo-words {
    display: block;
    width: 29rem;
  }
  
  .main-login {
    width: 50%;
    height: auto;
    align-self: center;
  }

  .main-login img {
    width: 20rem;
  }

  .login-form {
    align-items: baseline;
    width: auto;
  }
  
  .login-input {
    width: 25rem;
    height: 1.5rem;
  }

  .signed-forgot-container {
    align-self: center;
  }
  
  .login-btn {
    width: 14rem;
    height: 4.5rem;
    font-size: 1.875rem;
  }

  .modal-login-container, .modal-login-container-error {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
}