.main-signup {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.arrow-a {
  position: fixed;
  top: 1rem;
  align-self: baseline;
}

.arrow-img {
  width: 1.5rem;
}

.rr-logo-signup {
  width: 8rem;
}

.signup-form {
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.user-data {
  margin: 1rem 0;
  font-weight: 600;
}

.user-data-input {
  width: 90%;
  max-width: 28rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem 0.75rem;
  border: 2px solid #373867;
  border-radius: 0.3rem;
}

.error {
  display: none;
}

.red-text {
  padding-top: 0.6rem;
  font-size: 0.7rem;
  color: red;
}

.red-border {
  border: 1px solid red;
}

.terms-conditions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 17rem;
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

.link-to-login-container {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  width: 83%;
  max-width: 14rem;
  margin: 1.5rem;
  font-size: 0.8rem;
}

.signup-btn {
  align-self: center;
  width: 10rem;
  height: 3.5rem;
  margin: 2rem;
  background-color: #AACE9B;
  border: 2px solid #373867;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

.rr-logo-words {
  display: none;
}

.modal-signup-container {
  display: none;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
  background-color: #FFFFFF;
  border: 2px solid #373867;
  border-radius: 8px 8px 0 0;
}

.modal-signup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.modal-header-p {
  margin-left: 1rem;
  color: #373867;
  font-size: 1.2rem;
}

.cross-img {
  width: 0.8rem;
  padding: 1rem;
}

.modal-signup-main, .modal-signup-main-error {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 50%;
}

.modal-main-p-one, .modal-main-p-two, .modal-main-p-error {
  margin: 1rem;
}

.modal-signup-footer, .modal-signup-footer-error {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 30%;
}

.modal-footer-btn {
  width: 5.5rem;
  height: 2.5rem;
  margin: 0 1rem;
  background-color: #AACE9B;
  border: none;
  border-radius: 5px;
}

.modal-signup-container-error {
  position: fixed;
  display: none;
  bottom: 0;
  z-index: 1;
  width: 100%;
  height: 10rem;
  background-color: #E9D0C8;
  border: 2px solid black;
  border-radius: 8px 8px 0 0;
}

.modal-signup-header-error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  background-color: #E9D0C8;
}

.modal-header-p-error {
  margin-left: 1rem;
  color: #F13312;
}

.modal-footer-btn-error {
  margin: 0 1rem;
  width: 5.5rem;
  height: 2.5rem;
  background-color: rgb(245, 239, 239);
  border: 1px solid #F13312;
  border-radius: 5px;
}

.modal-d-block {
  display: block;
}

@media screen and (min-width: 480px) {
  .modal-signup-container, .modal-signup-container-error {
    top: 0;
    border-radius: 0 0 8px 8px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    flex-flow: row nowrap;
  }

  .arrow-img {
    width: 2.5rem;
  }

  .main-signup {
    justify-content: space-evenly;
    width: 70%;
    padding-bottom: 0;
  }

  .rr-logo-signup {
    width: 5.5rem;
  }

  .input-container {
    width: 40%;
  }

  .signup-form {
    flex-flow: column wrap;
    align-items: center;
    height: 41rem;
    width: 80%;
  }

  .user-data {
    margin-bottom: 0.5rem;
  }

  .user-data-input{
    max-width: 15rem;
    margin: 0;
  }

  .terms-conditions-container {
    margin: 1rem 0;
  }

  .link-to-login-container {
    margin: 1rem 0;
  }

  .img-signup-container {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 30%;
    height: 100vh;
    background-image: url(../../assets/img/sign-up-desktop.png);
    background-size: cover;
    background-position: center;
  }

  .rr-logo-words {
    display: block;
    width: 17rem;
  }

  .modal-signup-container, .modal-signup-container-error {
    left: 50%;
    width: fit-content;
    min-width: 50%;
    height: 30%;
    transform: translateX(-50%);
  }
}