main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

#main-reason, #help-id, #contact-id, #history-id, #act-mem-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

.main-reason-title {
  text-align: center;
  margin: 3rem 2rem 1.5rem 2rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
}

.main-reason-img {
  order: 1;
  width: 100%;
  margin-bottom: 2rem;
}

.main-reason-p {
  order: 2;
  margin: 1rem 1.5rem 4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#help-id {
  background-image: url(../img/image5.png);
  background-size: cover;
  background-position: center;
}

.help-title {
  margin: 7rem 3.4rem 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #EBECF0;
}

.help-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 6rem;
  height: 25rem;
  
}

.help-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.4rem;
  width: 14.2rem;
  background-color: #EBECF0;
  border-radius: 0.3rem;
  border: 2px solid #373867;
  font-size: 1rem;
  font-weight: 700;
}

.help-p {
  margin: 0 1rem;
}

.contact-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-title {
  align-self: center;
  margin: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.contact-img {
  width: 2.5rem;
}

.contact-form {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 85%;
  height: 42rem;
  margin-top: 1rem;
}

.user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
  font-weight: 700;
}

.user-data input {
  height: 1.7rem;
  width: 55%;
  padding-left: 1rem;
  border: 2px solid #373867;
  border-radius: 1.5rem;
  font-size: 0.75rem;
  font-weight: 400;
}

.contact-subtitle {
  align-self: flex-start;
  margin: 2rem 0;
  font-weight: 700;
}

.reason-for-contact {
  align-self: baseline;
  text-align: left;
  margin-bottom: 1.3rem;
  font-size: 0.875rem;
  font-weight: 700;
}

.reason-for-contact input {
  margin: 0 1rem 0 0;
}

.message {
  align-self: baseline;
  padding: 0.5rem 0 1.5rem;
  font-size: 0.875rem;
  font-weight: 700;
}

#message {
  margin-bottom: 1.5rem;
}

.form-btn-container {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.form-btn-send {
  width: 9rem;
  height: 1.6rem;
  background-color: #AACE9B;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.form-btn-reset {
  width: 6rem;
  height: 1.6rem;
  border: 1.5px solid #373867;
  border-radius: 5px;
  font-weight: 600;
}

#history-id {
  justify-content: space-evenly;
  height: 37rem;
  margin-top: 2rem;
}

.history-title {
  font-size: 1.875rem;
  font-weight: 700;
}

.history-p {
  padding: 9rem 2rem;
  background-image: url(../img/image6.png);
  background-size: cover;
  background-position: center;
  text-align: justify;
  text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
  color: #EBECF0;
}

.activities-title, .memberships-title {
  margin: 2.5rem 0;
  font-size: 1.875rem;
  font-weight: 700;
}

.activities-list li {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.activities-list-img {
  width: 2.5rem;
}

.activities-list-p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 1rem;
}

.memberships-container {
  width: 100%;
}

.membership-list-info {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 76%;
  margin: auto;
  margin-bottom: 3rem;
}

.membership-list-info img {
  width: 2.2rem;
  margin-top: 1rem;
}

.membership-subtitle-container {
  padding-left: 1rem;
  text-align: left;
}

.membership-subtitle {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.membership-items {
  width: 60vw;
  list-style-type:"-";
  font-size: 0.875rem;
  font-weight: 700;
}

@media screen and (min-width: 480px) {
  main {
    width: 80%;
    margin-left: 20%;
  }
  
  .activities-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  .activities-list {
    width: 90%;
    max-width: 30rem;
    display: flex;
    flex-flow: column wrap;
    height: 40vh;
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .activities-list li {
    margin: 1rem 0;
  }

  .activities-list-img {
    width: 4.3rem;
  }

  .activities-list-p {
    line-height: 4rem;
  }

  
  .membership-items {
    width: 17rem;
  }
}

@media screen and (min-width: 768px) {
  .main-reason-p {
    font-size: 1.25rem;
  }
  
  .help-list {
    height: 30rem;
  }

  .help-list li {
    width: 19rem;
    height: 5.4rem;
  }

  .help-p {
    font-size: 1.5rem;
  }

  .contact-title, .history-title, .activities-title, .memberships-title {
    font-size: 2.5rem;
  }

  .contact-img {
    width: 3rem;
  }

  .user-data, .contact-subtitle, .reason-for-contact, .message {
    font-size: 1.25rem;
  }

  .form-btn-container {
    max-width: 21.8rem;
  }

  .form-btn-send {
    width: 10rem;
    height: 2.6rem;
    font-size: 1rem;
  }
  
  .form-btn-reset {
    width: 7rem;
    height: 2.6rem;
    font-size: 1rem;
  }
  
  #history-id {
    height: 46rem;
  }

  .history-p {
    font-size: 1.875rem;
  }

  .activities-list-p {
    font-size: 1.8rem;
  }
  
  .memberships-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 552px;
    width: 90%;
  }

  .membership-list-info {
    width: 84%;
    margin: 0 0 3rem 0;
  }

  .membership-subtitle-container {
    width: 78%;
  }

  .membership-subtitle {
    font-size: 1.8rem;
  }

  .membership-items {
    width: 19rem;
    font-size: 1.15rem;
  }
}